@page
@model PRN221_Project.Pages.Admin.DashboardModel
@{
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<style>
    .group-box {
        border-radius: 8px;
        background-color: deepskyblue;
        text-align: center;
        padding: 10px;
        margin: 10px;
        color: white;
        font-weight: bold;
    }

        .group-box p {
            margin: 0;
            font-size: 20px;
        }

        .group-box:hover {
            background-color: deepskyblue
        }

    .chart-container {
        width: 450px;
        height: 500px;
        background-color: #fff7ef;
        padding: 20px;
        border-radius: 4px;
        margin: 20px;
    }

</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-2">
            <fieldset class="group-box">
                <legend>Products</legend>
                <p>@Model.ProductCount</p>
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset class="group-box">
                <legend>Lots</legend>
                <p>@Model.LotCount</p>
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset class="group-box">
                <legend>Accounts</legend>
                <p>@Model.AccountCount</p>
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset class="group-box">
                <legend>Partners</legend>
                <p>@Model.PartnerCount</p>
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset class="group-box">
                <legend>Categories</legend>
                <p>@Model.CategoryCount</p>
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset class="group-box">
                <legend>StockOuts</legend>
                <p>@Model.StockOutCount</p>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="row justify-content-center">
            <div class="col-md-5 chart-container" style="background-color: #fff7ef; padding: 20px; border-radius: 4px; margin: 20px">
                <div>
                    <h4 class="text-center">Stock Out & Lot</h4>
                    <canvas id="chart1" style="width: 150px; height: 150px;"></canvas>
                </div>
            </div>
            <div class="col-md-5 chart-container" style="background-color: #fff7ef; padding: 20px; border-radius: 4px; margin: 20px">
                <div>
                    <h4 class="text-center">Account</h4>
                    <canvas id="chart2" style="width: 150px; height: 150px;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="button" value="Print Form" onclick="window.print()" />

<script>
    const ctx = document.getElementById('chart1');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['StockOut', 'Lot'],
            datasets: [{
                label: 'Compare StockOut & Lot',
                data: [@Model.StockOutCount, @Model.LotCount],
                backgroundColor: [
                    'black'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>


<script>
    const ctx1 = document.getElementById('chart2');

    new Chart(ctx1, {
        type: 'pie',
        data: {
            labels: ['Active', 'In Active'],
            datasets: [{
                label: 'Account active & inactive',
                data: [@Model.Account1, @Model.Account0],
                backgroundColor: [
                    'black',
                    'deepskyblue'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>